{
  "presets": [
    [
      "react"
    ]
  ],
  "plugins": ["syntax-dynamic-import"],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "testing": {
      "presets": [
          "react",
          "es2015"
      ]
    }
  }
}
